<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>

    <script src="/assets/dist/modernizr.js" type="text/javascript"></script>
    <script src="/assets/dist/basket.js" type="text/javascript"></script>
</head>
<body>
    <div class="container">
        <div class="row my-2">
            <div class="col">
                <a href="/"><button class="btn btn-primary">Back to products</button></a>
            </div>
            <div class="col">
            </div>
            <div class="col text-right">
                <h2>Basket</h2>
            </div>

        </div>
        {% if basket|length > 0 %}
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>Description</td>
                            <td>Quantity</td>
                            <td>Price</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{product.title}}</td>
                                <td>{{product.description}}</td>
                                <td>{{product.quantity}}</td>
                                <td>{{product.price}}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td></td>
                            <td><b>{{total}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <form method="post" action="http://localhost:8080/banklink/swedbank-common">
                    {% for key, value in paymentFields %}
                        <input type="hidden" name="{{ key }}" value="{{ value|escape }}">
                    {% endfor %}
                    <button class="btn btn-success" type="submit">To The Bank</button>
                </form>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning my-4">
                Basket empty.
            </div>
        {% endif %}
    </div>
</body>
</html>