<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>

    <script src="/assets/dist/modernizr.js" type="text/javascript"></script>
    <script src="/assets/dist/basket.js" type="text/javascript"></script>

    <meta http-equiv="refresh" content="5; url=/" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-danger">
                Payment canceled. Redirecting back to main page in 5 seconds.
            </div>
        </div>
    </div>
</div>
</body>
</html>