<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>

    <script src="/assets/dist/modernizr.js" type="text/javascript"></script>
    <script src="/assets/dist/main.js" type="text/javascript"></script>
</head>
<body>
<header>
    <h1>Shopping Cart</h1>
</header>

<a href="/basket" class="cd-cart items-added">
    <span>{{ basket|length }}</span>
</a>

<ul class="cd-gallery">
    {% for product in products %}
        <li>
            <div class="cd-single-item">
                <a href="#0">
                    <ul class="cd-slider-wrapper">
                        <li class="selected"><img src="{{ product.image_url }}" alt="Preview image"></li>
                    </ul>
                </a>

                <div class="cd-description">
                    {{ product.description }}
                </div>

                <form method="post" action="/">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <div class="cd-customization">
                        <button type="submit" class="add-to-cart">
                            <em>Add to Cart</em>
                            <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none"
                                      stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"
                                      d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                            </svg>
                        </button>
                    </div> <!-- .cd-customization -->
                </form>


                <button class="cd-customization-trigger">Customize</button>
            </div> <!-- .cd-single-item -->

            <div class="cd-item-info">
                <b><a href="#0">{{ product.title }}</a></b>
                <em>€{{ product.price }}</em>
            </div> <!-- cd-item-info -->
        </li>

    {% endfor %}
</ul> <!-- cd-gallery -->
</body>
</html>