<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>

    <script src="/assets/dist/modernizr.js" type="text/javascript"></script>
    <script src="/assets/dist/basket.js" type="text/javascript"></script>

    <meta http-equiv="refresh" content="5; url=/" />
</head>
<body>
<div class="container">
    <div class="row my-2">
        <div class="col">
            {% if verified %}
            <div class="alert alert-success">
                Payment success. Redirecting back to main page in 5 seconds.
            </div>
            {% else %}
                <div class="alert alert-danger">
                    Payment not verified. Please try again. Redirecting back to main page in 5 seconds
                </div>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>